$color-background: #272727;
$color-primary: #ff9900;
$color-bg-components: #2d2d2d;
$color-text-primary: #ffffff;
$color-text-secondary: #000000;
$color-error: #ff3d00;
$color-checkbox: #00ff0a;

$font-logo: 'ZCOOL KuaiLe', cursive;
